html{
	background-color: black;
}
.jumbotron2{
	color: green;
	background-image: url("nesController.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.container{
	background-size: 100%;
}
.instructionRow
{
	color: green;
}

.qRows {
color: red;
}

.radioButtons{
	font-size: 100%
}

body{
	background-width: 100%;
	background-image: url("galaga2.gif");
	background-position: center;
	background-size: 85% 100%;
	background-repeat: no-repeat;
	background-width: 100%;
}
